# Gradle
/build/
/.gradle/
/out/

# IntelliJ
/.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
/bin/

# James Auths
james.sh
/gitauth.txt
james.properties

# James Data
/data/playlists.json

# Other
hs_err_pid*
